* {
    margin: 0;
    padding: 0;
  }
  
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .wrapper {
    position: relative;
    height: 450px;
    width: 325px;
    transform-style: preserve-3d;
    transition: transform 3s;
  }
  

  .rotate {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    position: absolute;
    height: 450px;
    width: 325px;
    // border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    cursor: pointer;
  }
  .front {
    // background-color: rgb(216, 201, 155);
    // background-image: url("https://cdn.pixabay.com/photo/2015/10/09/21/07/wedding-979931_960_720.jpg")
}

.back {
    transform: rotateY(180deg);
    // background-color: rgb(216, 151, 60);
    // background-image: url("https://media.istockphoto.com/vectors/peach-color-wild-roses-garden-party-invitation-vector-id1334458541?k=20&m=1334458541&s=612x612&w=0&h=5TORMLqvX_3YehWQy_icn-AM1pfazHWUSVqjE3UdtHI=")
  }

  .front .back > img{
    width: fit-content
  }

  .page-image{
    width: fit-content;
  }
  @media (max-width: 600px) {
    .wrapper {
        height: 350px;
        width: 225px;
    }
     img{
        height: 100%;
        width: 100%;
    }
  }